
image: mcr.microsoft.com/playwright/python:v1.57.0-jammy

stages:
  - test
  - report


test_execution:
  stage: test
  script:

    - pip install -r requirements.txt
    - pytest
  artifacts:
    when: always
    paths:
      - reports/allure-results
    expire_in: 1 week