name: Mirror to GitLab

on:
  push:
    branches: [ "master", "main" ]
  delete:

jobs:
  mirror_to_gitlab:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: yesolutions/mirror-action@master
        with:
          # ใส่ URL GitLab ของคุณให้ถูก (ต้องลงท้าย .git)
          REMOTE: "https://gitlab.com/bell77m/Testing.git"
          GIT_USERNAME: "bell77m"
          # รหัสผ่านต้องดึงจาก Secrets ห้ามใส่ตรงๆ
          GIT_PASSWORD: ${{ secrets.GITLAB_TOKEN }}
          PUSH_ALL_REFS: "true"